<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>
        <link rel="stylesheet" href="css/style.css">
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- FontAwesom -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/luxon@2.4.0/build/global/luxon.min.js"></script> 
    </head>
    <body>
        <div id="app">
            <!-- MAIN CONTAINER -->
            <div class="main-container">

                <!-- MAIN ROW -->
                <div class="row gx-0">

                    <!-- LEFT COLUMN CONTAINER -->
                    <div class="col-4">
                        <!-- header left -->
                        <div class="header-left border-header header-background d-flex justify-content-between">
                            <div class="user d-flex ali">
                                <img class="align-self-center" src="img/img/avatar_io.jpg" alt="">
                                <p class="align-self-center margin-none">Sofia</p>
                            </div>
                            <div class="icons-left align-self-center">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <!-- notification -->
                        <div class="notification-block notification-background d-flex">
                            <div class="mute-icon align-self-center">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="notification-text align-self-center">
                                <span class="margin-none">Ricevi motifiche di nuovi messaggi</span>
                                <p class="margin-none">attiva notifiche desktop</p>
                            </div>
                        </div>
                        <!-- search contacts input -->
                        <div class="input-search input-search-background">
                        
                            <input type="text" placeholder="Cerca o inizia una nuova chat">
                            
                        </div>
                        <!-- contacts container -->
                        <div class="contacts-container">
                            <ul id="padding-none">
                                <li v-for="(user, i) in contacts">
                                    <div class="user-info d-flex" @click="currentMex(i)" :class="{selectedContact : index===i}">
                                        <img class="align-self-center" v-bind:src="'img/img/avatar'+user.avatar+'.jpg'" alt="">
                                        <div class="user-info-text align-self-center">
                                            <span>{{user.name}}</span>
                                            <p>{{user.messages[lastMessage(i)].message}}</p>
                                        </div>
                                        <div class="time">
                                            <p>{{dateHalf(user)}}</p>
                                        </div>
                                    </div>
                                    <hr class="margin-none color-line">
                                </li>
                            </ul>
                        </div>
                    
                    </div>

                    <!-- RIGHT COLUMN CONTAINER -->
                    <div class="col-8">
                        <!-- header right -->
                        <div class="header-right header-background d-flex justify-content-between">
                            <div class="current-user d-flex ali">
                                <img class="align-self-center" :src="'img/img/avatar'+contacts[index].avatar+'.jpg'" alt="">
                                <div class="user-info-text align-self-center">
                                    <span class="align-self-center margin-none">{{contacts[index].name}}</span>
                                    <p>{{'Ultimo accesso il ' + lastAccess(index)}}</p>
                                </div>
                            </div>
                            <div class="icons-right align-self-center">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <!-- chat block -->
                        <div class="chat-container">
                            <div class="main-chat">
                                <div class="message-box" v-for="(mex, a) in contacts[index].messages" :class="{messageSent : contacts[index].messages[a].status === 'sent'}">
                                    <p class="margin-none">{{contacts[index].messages[a].message}}</p>
                                    <small>{{hourHalf(index, a)}}</small>
                                </div>
                            </div>
                        </div>
                        <!-- type message block -->
                        <div class="message-input-block message-input-background">
                            <div class="row d-flex align-items-center full-height">
                                <div class="col-1 d-flex justify-content-end">
                                    <i class="fa-regular fa-face-smile"></i>
                                </div>
                                <div class="col-10">
                                    <form @submit.prevent="sendMessage(index)">
                                    <input type="text" placeholder="Scrivi un messaggio" v-model="messageInput" v-on:keyup.enter="answer(index)">
                                    </form>
                                </div>
                                <div class="col-1 d-flex justify-content-start">
                                    <i class="fa-solid fa-microphone"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
       
        
        <script src="js/contacts.js"></script>

    </body>
</html>